<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>
</head>
<body>
    <div id="login">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post" >
            <div th:if="${param.error}">
                无效的用户或密码
            </div>
            <div th:if="${param.logout}">
                已经登出了
            </div>
            <input class="input" type="text" required="required" placeholder="用户名" id="username" name="username" />
            <input class="input" type="password" required="required" placeholder="密码" id="password" name="password" />
            <input type="checkbox" name="remember-me" value="true" th:checked="checked"/>
            <span  class="remember-me">7天自动登录</span>
            <button class="but" type="submit">登录</button>
        </form>
    </div>
</body>
</html>