<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awesome.web.mapper.system.SysRoleMapper">
    <!--<cache />   采用ehcache 进行缓存-->
    <resultMap id="BaseResultMap" type="com.awesome.web.domain.system.SysRole">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_date" jdbcType="DATE" property="createDate" />
        <result column="update_date" jdbcType="DATE" property="updateDate" />
        <collection property="users" ofType="com.awesome.web.domain.system.SysUser">
            <id column="user_id" property="id" />
            <result column="user_name" property="name" />
            <result column="user_username" property="username" />
        </collection>
    </resultMap>

    <!-- 根据角色信息查询所有的资源 -->
    <select id="listByRole" parameterType="com.awesome.web.domain.system.SysRole" resultMap="BaseResultMap" >
       select * from sys_role
       <where>
           <if test="name != null">
               name = #{name}
           </if>
       </where>
    </select>

    <!-- 根据搜索条件，查询所有相关信息 -->
    <select id="listBySearch"  parameterType="com.awesome.web.domain.common.datatable.DataTableSearch" resultMap="BaseResultMap" >
        <if test="search.searchValue!=null">
            <bind name="searchValue" value="'%'+search.searchValue+'%'"/>
        </if>
        select * from sys_role
        <where>
            <if test="search.searchValue!=null">
                AND ( `name` like #{searchValue}  OR `description` like #{searchValue} )

            </if>
        </where>
    </select>

    <!-- 查询所有的角色，并关联用户 -->
    <select id="authorizationByUserId" parameterType="long" resultMap="BaseResultMap">
        SELECT r.*,o.* FROM sys_role r
            LEFT JOIN (
                SELECT u.id user_id, u.name user_name, u.username user_username, ur.role_id FROM sys_user u, sys_user_role ur WHERE u.id = ur.user_id AND u.id= #{userId}
         ) o ON r.id = o.role_id
    </select>


    <!-- 更新模块信息 -->
    <insert id="insert" parameterType="com.awesome.web.domain.system.SysRole" >
       INSERT INTO sys_role (`name`, `description`, `type`, `status`)
          VALUES (#{name}, #{description}, #{type}, 1);
    </insert>

    <!-- 更新角色信息 -->
    <update id="update" parameterType="com.awesome.web.domain.system.SysRole" >
        UPDATE sys_role
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除角色资源关系 -->
    <delete id="deleteRoleResourceById" parameterType="long">
        DELETE FROM sys_role_resource WHERE role_id = #{roleId}
    </delete>

    <!-- 批量添加角色资源关系 -->
    <insert id="insertRoleResourceBatch" parameterType="list">
        INSERT INTO sys_role_resource ( `role_id`, `resource_id` )
            VALUES
        <foreach collection="list" item="item"  separator=","  >
            ( #{item.roleId} , #{item.resourceId} )
        </foreach>
    </insert>
</mapper>