<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awesome.web.mapper.system.SysUserMapper">
    <!--<cache />   采用ehcache 进行缓存-->
    <resultMap id="BaseResultMap" type="com.awesome.web.domain.system.SysUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="department" jdbcType="INTEGER" property="department" />
        <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_date" jdbcType="DATE" property="createDate" />
        <result column="update_date" jdbcType="DATE" property="updateDate" />
        <collection property="roles" ofType="com.awesome.web.domain.system.SysRole">
            <id column="role_id" property="id" />
            <result column="role_name" property="name" />
            <collection property="resources" ofType="com.awesome.web.domain.system.SysResource">
                <id column="resource_id" property="id" />
                <result column="resource_name" property="name" />
                <result column="resource_url" property="url" />
            </collection>
        </collection>
    </resultMap>
    <sql id="userSql">
      `id`, `username`, `password`, `name`, `sex`, `email`, `phone`, `department`, `status`, `create_date`, `update_date`
    </sql>

    <!-- 根据登录名查询用户信息 ，登录时使用 -->
    <select id="findByUsername" parameterType="string" resultMap="BaseResultMap">
        SELECT u.*,
        ro.id role_id, ro.name role_name,
        re.id resource_id,re.name resource_name, re.url resource_url FROM sys_user u
        left join sys_user_role ur on ur.user_id= u.id
        left join sys_role ro on ro.id=ur.role_id
        left join sys_role_resource rr on rr.role_id=ro.id
        left join sys_resource re  on rr.resource_id=re.id
        WHERE u.username=#{username}
    </select>
    
    <!-- 根据id查询用户信息 -->
    <select id="findById" resultMap="BaseResultMap">
        select
            u.* , d.name department_name
        from sys_user u left join sys_department d on u.department= d.id
        WHERE  u.id = #{id}
    </select>

    <!-- 根据用户条件进行搜索 -->
    <select id="listByUser"  resultMap="BaseResultMap">
        <if test="search.searchValue!=null">
            <bind name="searchValue" value="'%'+search.searchValue+'%'" />
        </if>
        select
            u.* , d.name department_name
        from sys_user u left join sys_department d on u.department= d.id
        <where>
            <if test="user.name!=null">
                u.`name` = #{user.name}
            </if>
            <if test="user.username!=null">
               AND  u.`username` = #{user.username}
            </if>
            <if test="user.sex!=null">
               AND u.`sex` = #{user.sex}
            </if>
            <if test="user.email!=null">
               AND u.`email` = #{user.email}
            </if>
            <if test="user.phone!=null">
               AND u.`phone` = #{user.phone}
            </if>
            <if test="user.department!=null">
               AND u.`department` = #{user.department}
            </if>
            <if test="user.status!=null">
               AND u.`status` = #{user.status}
            </if>
            <if test="search.searchValue!=null">
                AND ( u.name like #{searchValue} OR  u.username like  #{searchValue} OR  u.phone like  #{searchValue} )
            </if>
        </where>
    </select>

    <!-- 根据条件列出所有用户信息 -->
    <select id="listBySearch" resultMap="BaseResultMap">
        <if test="search.searchValue!=null">
          <bind name="searchValue" value="'%'+search.searchValue+'%'" />
        </if>
        <foreach collection="departments" item="department" separator=" UNION ALL ">
            select
                d.name department_name , u.*
            from sys_department d , sys_user u
            WHERE d.id = #{department}
              AND u.department= d.id
              AND u.`status` = 1
            <if test="search.searchValue!=null">
                AND ( u.name like #{searchValue} OR  u.username like  #{searchValue} OR  u.phone like  #{searchValue} )
            </if>

        </foreach>
    </select>

    <!-- 保存用户 -->
    <insert id="insert" parameterType="com.awesome.web.domain.system.SysUser" >
        INSERT INTO sys_user(`username`, `password`, `name`, `sex`, `email`,`phone`,`department`,`status`)
        VALUES ( #{username}, #{password}, #{name}, #{sex}, #{email}, #{phone}, #{department}, 1)
    </insert>

    <!--插入用户角色关系 -->
    <insert id="insertUserRole" parameterType="list" >
      INSERT INTO sys_user_role( user_id, role_id ) VALUES
        <foreach collection="list" item="item" separator=","  >
            ( #{item.userId} , #{item.roleId} )
        </foreach>
    </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.awesome.web.domain.system.SysUser">
        UPDATE sys_user
        <set>
            <if test="name!=null">
                `name` = #{name} ,
            </if>
            <if test="password!=null">
                `password` = #{password} ,
            </if>
            <if test="sex!=null">
                `sex` = #{sex} ,
            </if>
            <if test="email!=null">
                `email` = #{email} ,
            </if>
            <if test="phone!=null">
                `phone` = #{phone} ,
            </if>
            <if test="department!=null">
                `department` = #{department} ,
            </if>
            <if test="status!=null">
                `status` = #{status} ,
            </if>
        </set>
        WHERE  id = #{id}
    </update>
</mapper>