<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awesome.web.mapper.system.SysUserMapper">
    <!--<cache />   采用ehcache 进行缓存-->
    <resultMap id="BaseResultMap" type="com.awesome.web.domain.system.SysUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <collection property="roles" ofType="com.awesome.web.domain.system.SysRole">
            <id column="role_id" property="id" />
            <result column="role_name" property="name" />
            <collection property="resources" ofType="com.awesome.web.domain.system.SysResource">
                <id column="resource_id" property="id" />
                <result column="resource_name" property="name" />
                <result column="resource_url" property="url" />
            </collection>
        </collection>
    </resultMap>

    <select id="findByUsername" parameterType="string" resultMap="BaseResultMap">
        SELECT u.*,
        ro.id role_id, ro.name role_name,
        re.id resource_id,re.name resource_name, re.url resource_url FROM sys_user u
        left join sys_user_role ur on ur.user_id= u.id
        left join sys_role ro on ro.id=ur.role_id
        left join sys_role_resource rr on rr.role_id=ro.id
        left join sys_resource re  on rr.resource_id=re.id
        WHERE u.username=#{username}
    </select>


</mapper>